<!-- banner start -->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    
    <div class="carousel-inner">
      <div class="carousel-item active" 
      data-bs-interval="10000"
      *ngFor="let banner of bannerResult;let i=index"
      [ngClass]="{active:i===1}"
      >
      <img src="https://image.tmdb.org/t/p/original/{{ banner.backdrop_path }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{banner.original_title}}</h2>
          <p>{{banner.overview}}</p>
        </div>
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- banner end -->

<div class="contain mt-3 p-4">

  <!-- Trending Movies -->
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>

    <div class="rowposter mt-3 p-2">

      <ng-container *ngFor="let trending of trendingMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{trending.poster_path}}" 
        class="rowing largeposter"
         alt="...">
      </ng-container>


    </div>
  </div>


</div>